@tailwind base;
@tailwind components;
@tailwind utilities;

.outline-text-white {
    @apply text-transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.outline-text-black {
    @apply text-transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.link-buttons {
    @apply inline-flex items-center h-auto font-extrabold px-1 indent-0;
}

.scrolling-text span {
    @apply font-bold font-Anton text-4xl;
}